body {
    font-family: Righteous, serif;
    margin:0;
}

nav {
    text-align: right;
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: #FFAF14;
    width: 100%;
    height: 90px;
    margin: auto;
    color: white;

}

#logo {
    width: 200px;
    margin-right: auto;
    padding-top: 75px;
}

.nav_text {
    margin: 25px;
    font-size: 25px;
}

.nav_text:hover {
    color:red;
}

#white_block {
    margin: 10px;
    background-color: #FF726B;
    height: 65px;
    width: 65px;
    border-style: solid;
    border-width: 5px;
    border-color: #C54A4A;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}

#shopping-cart-icon {
    width: 40px;
}

#white_block:hover {
    width: 67px;
    border-color: red;
}

article {
    background-color: #ffe7b2;
    width: 100%;
    height: 833px;
}

#your_order_block, #details_block {
    float: left;
    margin-top: 150px;
    margin-left: 100px;
    background-color: #F9F9F9;
    height: 55%;
    width: 55%;
    border-radius: 30px;
    text-align: center;
    box-shadow: 5px 5px 10px gray;
}

#details_block {
    width: 25%;
    margin-left: 150px;
    height: 70%;
}

h1 {
    font-size: 50px;
}

#products, #time_to_prepare {
    display: flex;
    float: left;
    margin-left: 65px;
    width: 50%;
    height: 60%;
    background-color: white;
    border-color: red;
    border-style: solid;
    border-radius: 20px;
}

#time_to_prepare {
    width: 30%;
}

h2 {
    margin-left: auto;
    margin-right: auto;
}

input[type=text] {
    margin-top: 15px;
    border-color: red;
    border-radius: 10px;
    border-width: 3px;
    width: 60%;
    height: 35px;
    font-size: 20px;
    padding-left: 20px;
}

input[type=radio] {
    margin-top: 50px;
    margin-right: 10px;
    accent-color: red;
}

#takeout {
    margin-left: 20px;
}

input[type=submit] {
    font-family: Roboto;
    color: white;
    margin-top: 40px;
    border-style: hidden;
    background-color: red;
    border-radius: 10px;
    height: 50px;
    width: 50%;
    font-size: large;
}

input:placeholder-shown {
    font-style: italic;
}
