body{
    background-color: #FFFDF1;
}

.title{
    margin:0.8em 0em;
    text-align: center;
    font-size: 4em;
}

.dashboard-section {
    background-color: #F9F9F9;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.dashboard-section table {
    width: 100%;
    border-collapse: separate; /* Indicate separate borders for cells */
    border-spacing: 0; /* No space between cells */

    /* Set the color for the transparent space between rows */
    background: transparent;
}

.dashboard-section table tr {
    border-radius: 10px; /* Rounded corners for each row */
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 20px;
    text-align: left;
    font-family: Roboto, sans-serif;
    margin: 10px;
}

th {
    background-color: #FFAF14;
    font-family: Righteous, sans-serif;
    font-weight: 400;
    font-size: 1.4em;
    color: white
}


tr:nth-child(even) {
    background-color: white;
}

tr:nth-child(odd) {
    background-color: #f5f5f5;
}

tr:hover {
    background-color: #e0e0e0;
}

button.update-button {
    cursor: pointer;
    border: none;
    color: white;
    border-radius: 5px;
}

button.update-button[data-status="Not Started"] {
    background-color: red;
}

button.update-button[data-status="Preparation"] {
    background-color: rgb(255, 115, 0);
}

button.update-button[data-status="Cooking"] {
    background-color: rgb(255, 196, 0);
}

button.update-button[data-status="Take Out"],
button.update-button[data-status="Out for Delivery"] {
    background-color: rgb(47, 137, 47);
}

button.update-button[data-status="Done"] {
    background-color: rgb(4, 69, 4);
}

button.delete-button {
    cursor: pointer;
    border: none;
    background-color: #f44336;
    color: white;
    border-radius: 5px;
}

button.delete-button:hover {
    background-color: #d32f2f;
}

td {
    position: relative;
}

form {
    display: flex;
    justify-content: center;
    
}

button {
    padding: 12px 5px;
    font-size: 0.8em;
    position: absolute;
    font-weight: bold;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
