body {
    font-family: Righteous, serif;
    margin:0;
}

nav {
    text-align: right;
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: #FFAF14;
    width: 100%;
    height: 90px;
    margin: auto;
    color: white;

}

#logo {
    width: 200px;
    margin-right: auto;
    padding-top: 75px;
}

.nav_text {
    margin: 25px;
    font-size: 25px;
}

.nav_text:hover {
    color:red;
}

#white_block {
    margin: 10px;
    background-color: white;
    height: 65px;
    width: 65px;
    border-style: solid;
    border-width: 5px;
    border-color: #C54A4A;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}

#shopping-cart-icon {
    width: 40px;
}

#white_block:hover {
    width: 67px;
    border-color: red;
}

section {
    background-color: #FFDB91;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ad {
    width: 600px;
}

article {
    background-color: #FFFDF1;
    width: 100%;
    height: 800px;
    padding-top: 10px;
}

.pizza_block {
    margin-bottom: 10px;
    background-color: #ffe1be;
    width: 200px;
    height: 350px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-left: 175px;
    flex-direction: column;
    float: left;
}

.pizza_white_box {
    background-color: white;
    height: 175px;
    width: 175px;
    border-style: solid;
    border-width: 2px;
    border-color: red;
    border-radius: 10px;
    margin-top: 10px;
}

.price_white_box {
    background-color: white;
    height: 35px;
    width: 130px;
    border-style: solid;
    border-width: 2px;
    border-color: red;
    border-radius: 10px;
    margin-top: 10px;
}

.price_text {
    margin: 30px;
    font-size: 30px;
}

.pizza_img {
    width: 160px;
    margin: 7px;
}

.pizza_name {
    font-size: 23px;
    padding-top: 10px;
}

.pizza_desc {
    font-size: 9px;
    font-family: "Roboto Light", serif;
}

.button_text {
    background-color: red;
    font-family: Roboto, serif;
    font-weight: bold;
    color: white;
    border-width: 0;
    height: 40px;
    width: 135px;
    border-radius: 10px;
    margin-top: 10px;
}

.button_text:hover {
    background-color: darkred;
}

#person_img {
    height: 700px;
    background-color: #ffe7b2;
}

#about_us {
    background-color: #ffe7b2;
    height: 700px;
    float: right;
    width: 62.28%;
    text-align: center;
}

#desc {
    font-family: Roboto;
    padding-left: 130px;
    padding-right: 130px;
    padding-top: 5px;
    text-align: center;
    padding-bottom: 30px;
}

h1 {
    font-size: 70px;
}

#map {
    height: 300px;
    border-style: solid;
    border-radius: 25px;
    border-width: 2px;
    border-color: red;
}

#map:hover {
    border-color: darkred;
}