.title{
    margin:0.8em 0em;
    text-align: center;
    font-size: 3em;
}

.tracker-form-section {
    background-color: #F9F9F9;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50%;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    margin-top: 5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.tracker-form-section form{
    max-width: 70%;
    display: flex;
    flex-direction: column;
}

.tracker-form-section input{
    border: 5px solid #ED190F;
    border-radius: 10px;
    padding: 0.5em 1em;
    font-size: 1em;
    transition: all;
    transition-duration: 150ms;
}

.tracker-form-section input:hover{
    scale: 110%;
    transition: all;
    transition-duration: 150ms;
}

button {
    position: relative;
    cursor: pointer;
    border: none;
    background-color: #ED190F;
    color: white;
    border-radius: 5px;
    padding: 1em 2em;
    transition: all;
    transition-duration: 150ms;
}

button:hover{
    scale: 110%;
    transition: all;
    transition-duration: 150ms;
}

.tracker-progress{
    background-color: #F9F9F9;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em 2em;
    padding: 2em;
}


@import url("https://fonts.googleapis.com/css?family=Lato:300");
*, *::before, *::after {
  box-sizing: border-box;
}


.circle {
  position: relative;
  width: 150px;
  height: 150px;
  margin: 0.5rem;
  border-radius: 50%;
  background: #ed1a0f4a;
  overflow: hidden;
}
.circle.per-25 {
  background-image: conic-gradient(#ED190F 25%, #ed1a0f4a 0);
}
.circle.per-50 {
  background-image: conic-gradient(#ED190F 50%, #ed1a0f4a 0);
}
.circle.per-75 {
  background-image: conic-gradient(#ED190F 75%, #ed1a0f4a 0);
}
.circle.per-100 {
  background-image: conic-gradient(#ED190F 100%, #ed1a0f4a 0);
}
.circle .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 115px;
  height: 115px;
  background: #FFAF14;
  border-radius: 50%;
  font-size: 1.85em;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.75);
}