<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <title>Order Tracker</title>
        <link rel="stylesheet" href="../static/styles.css">
        <meta http-equiv="refresh" content="5">
        <link rel="stylesheet" href="../static/styles.css">
        <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">
    </head>
    <body>
        <nav class="nav_bar">
            <div>
                <a href="/">
                    <img src="../static/images/logo.png" alt="logo" id="logo">
                </a>
            </div>
            <div>
                <span class="nav_text"><a href="/">home</a></span>
                <span class="nav_text"><a href="/tracker-login">tracker</a></span>
                <a href="/cart">
                    <div id="white_block">
                        <img src="../static/images/shopping-cart-icon.png" alt="shooping cart icon" id="shopping-cart-icon">
                    </div>
                </a>
            </div>
        </nav>
        <div class="error-container">
            <h1>404</h1>
            <p>Oops! Page not found. <a href="/">Go back</a> to the home page.</p>
        </div>
</body>
</html>
