<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="../static/dashboard.css">
</head>
<body>
    <nav>
        <img src="../static/images/logo.png" alt="logo" id="logo">
        <span class="nav_text">home</span>
        <span class="nav_text">tracker</span>
        <div id="white_block">
            <img src="../static/images/shooping-cart-icon.png" alt="shooping cart icon" id="shopping-cart-icon">
        </div>
    </nav>
    <article>
        <div id="your_order_block"></div>
        <div id="details_block"></div>
    </article>
</body>
</html>