<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <nav class="nav_bar">
        <img src="../static/images/logo.png" alt="logo" id="logo">
        <span class="nav_text"><a href="/">home</a></span>
        <span class="nav_text"><a href="/tracker-login">tracker</a></span>
        <div id="white_block">
            <a href="/cart"><img src="../static/images/shopping-cart-icon.png" alt="shopping cart icon" id="shopping-cart-icon"></a>
        </div>
    </nav>
    <section class="ad_section">
        <img src="../static/images/ad.png" alt="ad" id="ad">
    </section>
    <article class="main_page">
        {% for product in products %}
        <div class="pizza_block">
            <div class="pizza_white_box">
                <img class="pizza_img" src="../static/images/pizza_1.png" alt="pizza_1">
            </div>
            <div class="price_white_box">
                <span class="price_text">${{ product.Price }}</span>
            </div>
            <span class="pizza_name">{{ product.Name }}</span>
            <span class="pizza_desc">${{ product.Ingredients }}</span>
            <form class="add-cart-form" action="/add_to_cart/{{ product._id }}" method="post">
                <button class="add-cart-btn" type="submit" >ADD TO CART</button>
            </form>
        </div>
        {% endfor %}
    </article>
    <div id="about_us">
        <img src="../static/images/person.png" alt="Person" id="person_img">
        <h1 id="about_us_h1">About Us</h1>
        <p id="desc">Welcome to the world of Mr. Panucci, where the passion for crafting authentic Italian pizza comes to life. With a legacy rooted in the heart of Italy, our pizzas are a true representation of tradition, quality, and taste. Each pie is a masterful creation, meticulously prepared using time-honored techniques and the finest, handpicked ingredients. At Mr. Panucci, we blend heritage with innovation, ensuring every slice embodies the genuine flavors of Italy. Join us on a culinary journey where the essence of Italy is captured in every bite.</p>
        <img src="../static/images/map.png" alt="map" id="map">
    </div>
</body>
</html>