<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <nav>
        <img src="../static/images/logo.png" alt="logo" id="logo">
        <span class="nav_text">home</span>
        <span class="nav_text">tracker</span>
        <div id="white_block">
            <img src="../static/images/shooping-cart-icon.png" alt="shooping cart icon" id="shopping-cart-icon">
        </div>
    </nav>
    <section>
        <img src="../static/images/ad.png" alt="ad" id="ad">
    </section>
    <article>

    </article>
</body>
</html>