<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <nav>
        <img src="../static/images/logo.png" alt="logo" id="logo">
        <span class="nav_text">home</span>
        <span class="nav_text">tracker</span>
        <div id="white_block">
            <img src="../static/images/shooping-cart-icon.png" alt="shooping cart icon" id="shopping-cart-icon">
        </div>
    </nav>
    <section>
        <img src="../static/images/ad.png" alt="ad" id="ad">
    </section>
    <article>
        <div class="pizza_block">
            <div class="pizza_white_box">
                <img class="pizza_img" src="../static/images/pizza_1.png" alt="pizza_1">
            </div>
            <div class="price_white_box">
                <span class="price_text">12,99</span>
            </div>
            <span class="pizza_name">Meatball pizza</span>
            <span class="pizza_desc">dough, tomato sauce, pepperoni, onion</span>
            <button class="button_text">ADD TO CART</button>
        </div>
        <div class="pizza_block">
            <div class="pizza_white_box">
                <img class="pizza_img" src="../static/images/pizza_1.png" alt="pizza_1">
            </div>
            <div class="price_white_box">
                <span class="price_text">12,99</span>
            </div>
            <span class="pizza_name">Meatball pizza</span>
            <span class="pizza_desc">dough, tomato sauce, pepperoni, onion</span>
            <button class="button_text">ADD TO CART</button>
        </div>
        <div class="pizza_block">
            <div class="pizza_white_box">
                <img class="pizza_img" src="../static/images/pizza_1.png" alt="pizza_1">
            </div>
            <div class="price_white_box">
                <span class="price_text">12,99</span>
            </div>
            <span class="pizza_name">Meatball pizza</span>
            <span class="pizza_desc">dough, tomato sauce, pepperoni, onion</span>
            <button class="button_text">ADD TO CART</button>
        </div>
        <div class="pizza_block">
            <div class="pizza_white_box">
                <img class="pizza_img" src="../static/images/pizza_1.png" alt="pizza_1">
            </div>
            <div class="price_white_box">
                <span class="price_text">12,99</span>
            </div>
            <span class="pizza_name">Meatball pizza</span>
            <span class="pizza_desc">dough, tomato sauce, pepperoni, onion</span>
            <button class="button_text">ADD TO CART</button>
        </div>
        <div class="pizza_block">
            <div class="pizza_white_box">
                <img class="pizza_img" src="../static/images/pizza_1.png" alt="pizza_1">
            </div>
            <div class="price_white_box">
                <span class="price_text">12,99</span>
            </div>
            <span class="pizza_name">Meatball pizza</span>
            <span class="pizza_desc">dough, tomato sauce, pepperoni, onion</span>
            <button class="button_text">ADD TO CART</button>
        </div>
        <div class="pizza_block">
            <div class="pizza_white_box">
                <img class="pizza_img" src="../static/images/pizza_1.png" alt="pizza_1">
            </div>
            <div class="price_white_box">
                <span class="price_text">12,99</span>
            </div>
            <span class="pizza_name">Meatball pizza</span>
            <span class="pizza_desc">dough, tomato sauce, pepperoni, onion</span>
            <button class="button_text">ADD TO CART</button>
        </div>
        <div class="pizza_block">
            <div class="pizza_white_box">
                <img class="pizza_img" src="../static/images/pizza_1.png" alt="pizza_1">
            </div>
            <div class="price_white_box">
                <span class="price_text">12,99</span>
            </div>
            <span class="pizza_name">Meatball pizza</span>
            <span class="pizza_desc">dough, tomato sauce, pepperoni, onion</span>
            <button class="button_text">ADD TO CART</button>
        </div>
        <div class="pizza_block">
            <div class="pizza_white_box">
                <img class="pizza_img" src="../static/images/pizza_1.png" alt="pizza_1">
            </div>
            <div class="price_white_box">
                <span class="price_text">12,99</span>
            </div>
            <span class="pizza_name">Meatball pizza</span>
            <span class="pizza_desc">dough, tomato sauce, pepperoni, onion</span>
            <button class="button_text">ADD TO CART</button>
        </div>
    </article>
</body>
</html>